extends layout

block content
  h2.center-align Edit Poll
  .formContainor.card.col.s12.m6.offset-m3 
    form.form(action="/polls" method="post")
      .input-field.col.s12
        input(id="title" value=poll.title name="poll[title]" type="text" required)
        label.active(for="title") Poll Title
      .input-field.col.s12
        input(id="options" value=poll.options[0].description name="poll[options][]" type="text" required)
        label.active(for="options") First Option
      .input-field.col.s12
        input(id="options" value=poll.options[1].description name="poll[options][]" type="text" required)
        label.active(for="options") Second Option
      for option in poll.options.slice(2)
        .input-field.col.s12.extra-option
          input.extra-input#options(value=option.description name="poll[options][]" required="" type="text")
          label.active(for="options") Extra Option
          i.material-icons.remove_option close
      .col.s12.form_button
        button.waves-effect.waves-light.btn(id="add_option_button" type="button") Add option
      .col.s12.form_button
        button.waves-effect.waves-light.btn(type="submit") Submit
      script.
        function addOption() {
          $(this).parent().before( `<div class="input-field col s12 extra-option"><input class="extra-input" id="options" name="poll[options][]" required="" type="text"><label for="options">Extra Option</label><i class="material-icons remove_option">close</i></div>` );
        };

        function removeOption() {
           $(this).closest('.extra-option').remove();
        }
        $('#add_option_button').click(addOption);
        $('.form').on('click', '.remove_option', removeOption);