footer.page-footer.grey
  .container
    .row
      .col.l6.s12
        h5.white-text Vote App
        p.grey-text.text-lighten-4 FreeCodeCamp Dynamic Web Appliction Project
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href="https://github.com/xxyzz/vote-app" target="_blank") Source Code
          li
            a.grey-text.text-lighten-3(href="https://xxyzz.me" target="_blank") Blog
          li
            a.grey-text.text-lighten-3(href="https://xxyzz.github.io" target="_blank") Other Projects
  .footer-copyright
    .container © 2017 xxyzz
