head
  title #{title}
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='theme-color', content='#03A9F4')
  meta(name="description", content="Vote or die, motherfucker, motherfucker, vote or die! Rock the vote or else I'm gonna stick a knife through your eye.")
  meta(property="og:title", content=title)
  meta(property="og:description", content="Vote or die, motherfucker, motherfucker, vote or die! Rock the vote or else I'm gonna stick a knife through your eye.")
  link(rel='shortcut icon', href='https://cdn.glitch.com/21521abb-186a-4e7f-a3c4-a995afeeeff1%2Ffavicon.ico')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/css/materialize.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='/style.css')
  script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js')