extends layout

block content

  if (!polls.length)
    p No polls yet, create a #[a(href='/new') new poll] now!
  else
    each poll in polls
      .col.s12.m5
        .card.blue-grey.darken-1
          .card-content.white-text
            span.card-title #{poll.title}
            - date = new Date(poll.createdAt).toDateString()
            p #{date}
              span.new.badge(data-badge-caption="Votes") #{poll.totalVotes}
          .card-action
            a(href='/polls/' + poll._id) View this poll
  .fixed-action-btn.horizontal(style="bottom: 45px; right: 24px")
    button.btn-floating.btn-large
      i.material-icons mode_edit
    ul
      li
        a.btn-floating.blue(href="https://twitter.com/intent/tweet?url=https://cliff-blade.glitch.me&text=Check out this vote webpage: " + title target="_blank")
          i.material-icons share
      li
        a.btn-floating.green(href="/new")
          i.material-icons add