extends layout

block content
  h2.center-align New Poll
  .formContainor.z-depth-3.col.s12.m6.offset-m3
    form.form(action="/polls" method="post")
      .input-field.col.s12
        input(id="title" name="poll[title]" type="text" required)
        label(for="title") Poll Title
      .input-field.col.s12
        input(id="options" name="poll[options][]" type="text" required)
        label(for="options") First Option
      .input-field.col.s12
        input(id="options" name="poll[options][]" type="text" required)
        label(for="options") Second Option
      .col.s12.form_button
        button.waves-effect.waves-light.btn(id="add_option_button" type="button") Add option
      .col.s12.form_button
        button.waves-effect.waves-light.btn(type="submit") Submit
      script(src="/add_option.js")