@media screen and  (max-width: 450px) {
  .brand-logo {
    display: none !important;
  }
  #filterButton {
    float: left !important;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin: 0 18px;
}

.formContainor {
  text-align: center;
}

.form_button {
  margin: 3% auto;
}

.or span {
  position: relative;
  background-color: #FAFBFC;
  padding: 10px;
  display: inline-block;
  }

.or hr {
  position: relative;
  margin: 0;
  top: 22px;
}

.g-recaptcha {
  display: inline-block;
}

.remove_option {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 43px;
  line-height: 43px;
}

.remove_option:hover {
  color: red;
}

.extra-input {
  box-sizing: border-box;
  padding-right: 30px;
}

#filterButton {
  height: 100%;
}