body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  margin: 0 18px;
}

.formContainor {
  margin: 5% auto;
  text-align: center;
  border-radius: 2px;
}

.form_button {
  margin: 3% auto;
}

.or span {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #fafbfc;
}

.or hr {
  position: relative;
  top: 22px;
  margin: 0;
}

.g-recaptcha {
  display: inline-block;
}

.remove_option {
  line-height: 43px;
  position: absolute;
  right: 0;
  width: 43px;
  cursor: pointer;
}

.remove_option:hover {
  color: red;
}